<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title, :cols => "60", :rows => "1", class: "input-text-area" %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => "60", :rows => "4", class: "input-text-area" %>
  </div>

  <div class="field">
    <%= f.label :result_prefix %><br>
    <%= f.text_field :result_prefix, class: "input-text-field" %>
  </div>

  <div class="field">
    <%= f.label :view_count %><br>
    <%= f.number_field :view_count, class: "input-number" %>
  </div>

  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit class:"edit-form-submit-button" %>
  </div>
<% end %>
