<div class = "half-width-container">
  <%= semantic_form_for @quiz do |f| %>
    <%= f.inputs :name => "Quiz" do %>
      <%= f.input :title , :input_html => { :class => 'autogrow', :rows =>4, :maxlength => 60  } %>
      <%= f.input :status %>
      <%= f.input :description , :input_html => { :class => 'autogrow', :rows =>4, :maxlength => 150  } %>
      <%= f.input :result_prefix , :input_html => { :class => 'autogrow', :rows =>4, :maxlength => 60  }%>
      <%= image_tag @quiz.image.url(:medium), class: "formtastic-form-image" %>
      <%= f.input :image, :as => :file %>
    <% end %>

    <%= f.inputs :name => "Result", :for => :results do |result_form,i| %>
      <% if @quiz.results[i-1].present? %>
        <%= image_tag @quiz.results[i-1].image.url(:small), class: "formtastic-form-image" %>
      <% end %>
      <%= result_form.input :title , :input_html => { :class => 'autogrow', :rows =>1, :maxlength => 20  } %>
      <%= result_form.input :description , :input_html => { :class => 'autogrow', :rows =>4, :maxlength => 300  } %>
      <%= result_form.input :image, :as => :file %>
    <% end %>

    <%= f.inputs :name => "Question", :for => :questions do |question_form| %>
      <%= question_form.input :title, :input_html => { :class => 'autogrow', :rows =>4, :maxlength => 60  } %>
    <% end %>

    <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
      <%= f.action :cancel, :as => :link %>
    <% end %>
  <% end %>
</div>