<p id="notice"><%= notice %></p>

<% if @questions.present? %>	
	<% @questions.each do |question| %>
		<div class = "question-container">
			<div class = "question-title">
				<%= question.title %>
			</div>
				<% if question.options.present? %>
					<% question.options.each do |option| %>
						<% if option.content.present? %>
							<div class = "option-content-container">
								<%= image_tag option.content.url(:medium) %>
							</div>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>
<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
