<p id="notice"><%= notice %></p>
<div class = "quiz-container">
	<div class = "quiz-title-container">
		<%= @quiz.title %>
	</div>
	<% if @questions.present? %>	
		<div class = question-list-container>
			<% @questions.each do |question| %>
				<div class = "question-container">
					<div class = "question-title">
						<%= question.title %>
					</div>
						<% if question.options.present? %>
							<div class = "option-list-container">
								<% question.options.each do |option| %>
									<% if option.content.present? %>
										<div class = "option-container">
											<%= image_tag option.content.url(:medium), size: "150x200", alt: option.title %>
										</div>
									<% end %>
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
	<% if @results.present? %>				
		<% @results.each do |result| %>
			<div class = "result-container">
				<div class = "result-row">
					<div class = "result-title">
							<%= @quiz.result_prefix %> <%= result.title %>
					</div>
				</div>
				<div class = "result-row">
					<div class = "result-image">
						<%= image_tag result.image.url(:medium), size: "180x240" %>
					</div>					
					<div class = "result-description">
						<div class="centering-table">
		   					<div class="centering-table-cell">  	
								<%= result.description %>				   							
		    	  			</div>
		  				</div>	
					</div>
				</div>
			</div>
		<% end %>			
	<% end %>
	<div class="back-button-container">
		<%= link_to 'Back', root_url, class:"back-button" %>	
	</div>
</div>
