<%= form_for(@option) do |f| %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% @option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :title, :cols => "10", :rows => "1", class: "input-text-area" %>
  </div>

  <select name="option[question_id]" class="input-select">
    <% @questions.each do |question|%>
      <option value="<%= question.id %>" <%= "selected" if question.id == @option.question_id %>><%= question.title %></option>
    <% end %>
  </select>

  <select name="option[result_id]" class="input-select">
    <% @results.each do |result|%>
      <option value="<%= result.id %>" <%= "selected" if result.id == @option.result_id %>><%= result.title %></option>
    <% end %>
  </select>
  <br>

  <%= image_tag @option.content.url(:thumb) %>
  <div class="field">
    <%= f.file_field :content %>
  </div>

  <div class="field">
    <label>Is Store Product?</label>
    <input type="hidden" name="option[store_product]" value="off">
    <input type="checkbox" name="option[store_product]"  <%= "checked" if @option.store_product==true %> />
  </div>

  <div class="field">
    <%= f.label :store_link %><br>
    <%= f.text_area :store_link, :cols => "10", :rows => "1", class: "input-text-area" %>
  </div>

  <div class="field">
    <%= f.label :store_name %><br>
    <%= f.text_field :store_name %>
  </div>

  <div class="field">
    <%= f.label :store_price %><br>
    <%= f.text_field :store_price %>
  </div>

  <div class="field">
    <%= f.label :store_product_expiry_date %><br>
    <%= f.date_select :store_product_expiry_date %>
  </div>
  
  <div class="actions">
    <%= f.submit class:"edit-form-submit-button" %>
  </div>
<% end %>
