<h1>Listing options</h1>
 
<%= link_to 'New Option', new_option_path, class: "create-new-instance-button" %>
 

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Question</th>
      <th>Content</th>
      <th>Result</th>
      <th>Selection count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr>
        <td><%= option.title %></td>
        <td>
          <% if option.question.present? %>
            <%= option.question.title %>
          <% end %>
        </td>
        <td>
          <% if option.content.present? %>
            <%= image_tag option.content.url(:thumb) %>
          <% end %>
        </td> 
        <td>
          <% if option.result.present? %>
            <%= option.result.title %>
          <% end %>
        </td>
        <td><%= option.selection_count %></td>
        <td><%= link_to 'Show', option %></td>
        <td><%= link_to 'Edit', edit_option_path(option) %></td>
        <td><%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


