<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @option.title %>
</p>

<p>
  <strong>Question:</strong>
  <% if @option.question.present? %>
  	<%= @option.question.title %>
  <% end %>
</p>

<p>
  <strong>Result:</strong>
  <% if @option.result.present? %>
  	<%= @option.result.title %>
  <% end %>
</p>

<p>
  <strong>Selection count:</strong>
  <%= @option.selection_count %>
</p>

<p>
	<% if @option.content.present? %>
		<%= image_tag @option.content.url(:thumb) %>
	<% end %>
</p>	

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
