<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title, :cols => "60", :rows => "1" %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => "60", :rows => "4" %>
  </div>
  <select name="result[quiz_id]">
    <% @quizzes.each do |quiz|%>
      <option value="<%= quiz.id %>" <%= "selected" if quiz.id == @result.quiz_id %>><%= quiz.title %></option>
    <% end %>
  </select>
  <br>
  
  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
